# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=node_fullstack

# JWT Configuration
JWT_SECRET=123456
JWT_EXPIRE=1d

# Email Configuration (for ForgotPassword feature)
EMAIL_USER=td735429@gmail.com
EMAIL_PASSWORD=oaqlagkozgtawyvi

# Frontend URL (for reset password link)
FRONTEND_URL=http://localhost:5173

# Server Port
PORT=8888
